<!-- On the front-end, provide feature overviews to each feature, with its logo on top; follow Apple's settings, where each feature (WiFi, Bluetooth, Screen Time, etc.) has a brief summary and description of its use with the logo on top -->
<!-- LANDING PAGE OVERVIEW PHRASE: "Simple, fast, efficient, cost-effective SoftPOS*"; 
    FEATURE OVERVIEW: Example for InventoryCostReports: "Inventory cost reports, simplified and distilled"
                      Example for InventoryUsage: "Track usage on every single inventory item"
                      Example for ShiftScheduling: "Schedule shifts with ease" -->